These rockets need spefific mods and cheats, Here is the stuff you need:

Mods you need: Better RCS
Cheats you need (ROCKETS WILL HAVE A HIGH CHANCE OF BREAKING WITHOUT THESE): Part Clipping, Infinite Fuel, No Collision Damage, No Burn Marks, No Heat Damage 
